body{
	height: 100%;
	font-family: 'Proza Libre', sans-serif;
}

.container-fluid{
	margin: 5% 10% 0;
}

.col-xs-6{
	margin-bottom: 1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.img-circle{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
	border-radius: 50%;
	-webkit-border-radius: 30%;
	-moz-border-radius: 30%;
	background-repeat: no-repeat;
}


.header-line{
	display: block;
	height: 15%;
	padding: 1%;
	background-color: #66C6CC;
	margin: 8% 0 9%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.contact{
	margin-left: 8%;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.links-text{
	font-size: 20px;
	font-weight: 500;
	margin-left: 3%;
	color: black;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.5);
}

.caption-cont{
	margin-left: 3%;
	padding: 2%;
}

.caption{
	height: 50px;
	font-size: 20px;
	font-weight: 500;
	margin-left: 3%;
	color: black;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.5);
}

.social-icons{
	padding: 2%;
	line-height: 1px;
	margin: 2% 3% 4%;
}

.not-active{
	pointer-events: none;
	cursor: default;
}
.social-icons .location{
	margin-left: 19%;
	font-size: 20px;
}
.header-line2{
	background-color: #FF6688;
	display: block;
	height: 15%;
	padding: 1%;
	margin: 8% 0 8%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.information{
	margin-top: 5%;
	margin-bottom: 5%;
}
.info-image{
	margin-bottom: 5%;
}
.header-line3{
	background-color: #E55F19;
	display: block;
	height: 15%;
	padding: 1%;
	margin: 8% 0 8%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.hobby{
	padding: 4%;
	margin-bottom: 5%;
	margin-top: 5%;
}
.header-line4{
	background-color: #834CB2;
	display: block;
	height: 15%;
	padding: 1%;
	margin: 8% 0 8%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.my-footer{
	background-color: #CFFCEF;
	padding: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.my-name{
	background-color: #CFFCEF;
	margin-bottom: 4%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.name{
	padding-top: 5%;
	padding-bottom: 5%;
	color: black;
	font-size: 80px;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 2);
	font-weight: 900;
}

.skills img{
	padding: 1%;
	border: solid 2px black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.abilities{
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 2);
	font-size: 30px;
	color: #E50600;
	font-weight: 700;
}
.column{
	margin-top: 2%;
	margin-left: 5%;
	margin-bottom: 4%;
	padding: 2%;
	border-bottom: solid 2px black;
	border-left: solid 2px black;
	border-right: solid 2px black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);

}
.data{
	font-size: 18px;
	font-weight: 500;
	text-align: justify;
}
.languages{
	margin-top: 6%;
	margin-bottom: 10%;
	background-color: #E8E8E8; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 2);
}
.languages h3{
	padding-left: 5%;
}

.progress{
	margin-bottom: 10%;
	margin-top: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);

}
.version-pl{
	margin-left: 2%;
}
.version-eng{
	margin-left: 6%;
}